{% extends 'base.html' %}
{% block css %}
.bg-background{
background-color: #8f040e;
}
<!--textarea:focus,-->
<!--select:focus,-->
<!--input[type="text"]:focus,-->
<!--input[type="password"]:focus,-->
<!--input[type="datetime"]:focus,-->
<!--input[type="datetime-local"]:focus,-->
<!--input[type="date"]:focus,-->
<!--input[type="month"]:focus,-->
<!--input[type="time"]:focus,-->
<!--input[type="week"]:focus,-->
<!--input[type="number"]:focus,-->
<!--input[type="email"]:focus,-->
<!--input[type="url"]:focus,-->
<!--input[type="search"]:focus,-->
<!--input[type="tel"]:focus,-->
<!--input[type="button"]:focus,-->
<!--.uneditable-input:focus {-->
<!--  border-color: #ffcccc;-->
<!--  box-shadow: inset 3px 3px 3px #ffcccc, 3px 3px 3px #ffcccc;-->
<!--  outline: 0 none;-->
<!--}-->
.btn-focus:focus {
border-color: #ffcccc;
box-shadow: inset 3px 3px 3px #ffcccc, 3px 3px 3px #ffcccc;
}
.form-control:focus {
border-color: #ffcccc;
box-shadow: inset 3px 3px 3px #ffcccc, 3px 3px 3px #ffcccc;
}
input[type=checkbox] {
accent-color: #8f040e;
}

{% endblock %}

{% block body %}
{% load static %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <center><h1>Application Form</h1></center>
    <div id="accordion">
        <div class="card">
            <div class="card-header bg-background" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn text-white" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        Applicant Information
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="given-name">Given Name</label>
                                <input type="text" class="form-control" id="given-name" placeholder="Given Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sur-name">Sur Name</label>
                                <input type="text" class="form-control" id="sur-name" placeholder="Sur Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="country">Country</label>
                                <select id="country" class="form-control mySelect">
                                    <option selected class="opt">Choose1...</option>
                                    <option class="opt">Choose2...</option>
                                    <option class="opt">Choose3...</option>
                                    <option class="opt">Choose4...</option>
                                    <option class="opt">Choose5...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="city-or-state">City/State</label>
                                <select id="city-or-state" class="form-control">
                                    <option selected>Choose1...</option>
                                    <option>Choose2...</option>
                                    <option>Choose3...</option>
                                    <option>Choose4...</option>
                                    <option>Choose5...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="zip-code">Zip</label>
                                <input type="text" class="form-control" id="zip-code">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-background" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn text-white collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        Selected University's Information
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2"
                                   placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-background" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn text-white collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        Sponsor Information
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2"
                                   placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>Choose2...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn bg-background text-white btn-lg btn-block btn-focus">Submit Application</button>
    <br>
</div>
{% endblock %}